
/* Responsive for mobile */

@media screen and (max-width:576px){
    nav{
        margin-top: 50px;
     }
     .nav-item-container .follow-btn,
     .nav-item-container{
        margin-top: 30px;
     }
    .nav-item-container,
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        gap: 10px;
    }
    .logo-container img{
        width: 65px;
        height: 30px;
    }
    .logo-container p{
        font-size: 30px;
        margin-left: 10px;
    }
    .nav-item-container a{
        font-size: 14px;
    }
    .nav-item-container .follow-btn{
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        padding: 14px 20px;
    }
    /* nav responsive end */

    /* banner responsive start */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-text, .banner-img{
        width: 100%;
    }
    .banner-text{
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .banner-title{
        font-size: 30px;
        margin-bottom: 5px;
    }
    .banner-goat{
        font-size: 50px;
    }
    .banner-description{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .banner-description p{
        font-size: 16px;
        margin-top: 5px;
    }
    .banner-btn{
        margin-top: 10px;
    }    
    .btn-primary, .btn-secondary{
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 400;
    }
    /* banner responsive end */

    /* funny videos responsive start*/
    .funny-videos-container{
        padding: 20px;
        margin-top: 20px;
    }
    .funny-videos-title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .funny-vidios-description{
        font-size: 10px;
    }
    .funny-videos-img{
        margin-top: 40px;
        grid-template-columns: 1fr;
    }
    .funny-videos-img img{
        width: 80%;
        margin-left: 40px;
    }
    .funny-videos-img .online-games .description{
        font-size: 10px;
        text-align: center;
    }
    /* funny videos responsive end*/

    /*  play instantly section responsive start*/
    .play-instantly{
        flex-direction: column;
        margin-top: 20px;
    }
    .play-instantly-text{
        width: 100%;
        align-items: center;
    }
    .play-instantly-text .title{
        font-size: 24px;
        text-align: center;
    }
    
    .play-instantly-text .description{
        font-size: 10px;
        font-weight: 400;
        width: 200px;
        text-align: center;
        line-height: 15px;
        margin-top: 0;
    }
    
    .play-instantly-img{
        margin-top: 40px;
        width: 100%;
    }
    .play-instantly-img .main-img{
        justify-content: end;
        margin-right: 50px;
    }
    .play-instantly-img .main-img img{
        width: 70%;
        min-height: 300px;
    }
    .play-instantly-img .second-img{
        position: absolute;
        width: 150px;
        left: 10%;
        top: 55%;
    }
    /*  play instantly section responsive end*/

    /* Games btn section responsive start */
    .games-btn-container{
        gap: 10px;
        margin-top: 10px;
    }
    .games-single-btn{
        padding: 10px 5px;
        border-radius: 5px;
    }
    .games-btn-container .games-single-btn img{
        width: 20%;
    }
    .games-single-btn a{
        margin-left: 5px;
        font-size: 12px;
        font-weight: 600;
    }
    /* Games btn section responsive end */

    /* footer section responsive start */
    .footer-title{
        gap: 8px;
        padding-top: 80px;
    }
    .footer-title img{
        width: 10%;
    }
    .footer-option,
    .footer-icon,
    .footer-policy
    {
        flex-direction: column;
    }
    .footer-title-text{
        font-size: 20px;
    }
    .footer-option a,
    .footer-policy,
    .footer-copy-right{
        font-size: 12px;
    }
    .footer-policy{
        gap: 30px;
        margin-bottom: 50px;
    }
    .footer-copy-right{
        width: 250px;
        margin: 0px auto;
       padding-bottom: 50px;
    }
    /* footer section responsive end */
}
