@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}

/* nav start */

.nav-container{
    max-width: 1400px;
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 80px;
    height: 40px;
    object-fit: cover;
}
.logo-container p{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}
.logo-container .gamer{
    color: #F948B2;
}
.nav-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item-container a{
    text-decoration: none;
    margin-left: 30px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-item-container .follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
}
.fa-brands{
    margin-left: 10px;
}
/* nav end */

/* banner section start */
.banner-container{
    max-width: 1400px;
    margin: 50px auto 0;
    min-height: 50px;
    display: flex;
}
.banner-text{
    width: 50%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.banner-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.banner-goat{
    font-size: 95px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
}
.banner-description p{
    margin-bottom: 0px;
}
.banner-btn{
    margin-top: 40px;
    display: flex;
    gap: 10px;
}
.btn-primary{
    padding: 3% 5%;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background-color: #F948B2;
    border: 0;
    cursor: pointer;
}
.btn-secondary{
    padding: 3% 5%;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    cursor: pointer;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}
/* banner section end */

/* funny videos section start */
.funny-videos-container{
    max-width: 1400px;
    margin: 100px auto 0;
}
.funny-videos-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.funny-videos-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin: 16px 0;
}
.funny-videos-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-vidios-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.funny-videos-img{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.funny-videos-img img{
    width: 100%;
}
.funny-videos-img .online-games .description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
/* funny videos section end */

/* play instantly section styles start */
.play-instantly{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0;
}
.play-instantly-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 40%;
    margin-right: 30px;
}
.play-instantly-text .title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.play-instantly-text .description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 350px;
    margin-top: 24px;
}

.play-instantly-text .title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-img{
    position: relative;
    width: 60%;
}
.play-instantly-img .main-img img{
    min-height: 500px;
    width: 70%;
}
.play-instantly-img .main-img{
    display: flex;
    justify-content: end;
}
.play-instantly-img .second-img{
    position: absolute;
    width: 270px;
    top: 55%;
    left: 17%;
}
/* play instantly section styles end */

/* Games btn section styles start */
.games-btn-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    max-width: 1400px;
    margin: 50px auto 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 400px;
}
.games-single-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #fff;
}
.games-single-btn:hover{
    border: 1px solid #F948B2;
}
.games-single-btn a{
    text-decoration: none;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}
.games-single-btn:hover a{
    color: #F948B2;
}
/* Games btn section styles end */

/* footer section styles start */
footer{
    min-height: 500px;
    background-color: #0B0223;
}
.footer-container{
    max-width: 1400px;
    margin: 0 auto;
}
.footer-title{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 120px;
}
.footer-title img{
    width: 6%;
}
.footer-title-text{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}
.footer-title-text span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-option{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
   
}
.footer-option div{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.footer-option a{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.footer-icon{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 60px;
}
.footer-icon ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
   
}
.footer-icon ul li{
    color: #fff;
    font-size: 30px;
    list-style: none;
}
.footer-policy{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 28px;
}
.footer-policy div{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.footer-policy a{
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}
.footer-copy-right{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 120px;
}
/* footer section styles end */
